html{height:100%}
@font-face{src:url(../FONT/FtraBk.ttf);font-family:'futurabk';}
@font-face{src:url(../FONT/FtraMd.ttf);font-family:'futuramd';}
@font-face{src:url(../FONT/FtraLt.ttf);font-family:'futuralt';}
@font-face{src:url(../FONT/FUTURAL.TTF);font-family:'futural';}

body{color:#222;height:100%;padding:0;margin:0;font-family:futuramd;font-size:13px}
a{text-decoration:none;cursor:pointer}
a img{border:0}
h1,h2,h3{color:#c81d4e;margin:0;font-weight:normal;}
h1{font-size:1.7em}
h2{font-size:1.4em;}
h3{font-size:1.2em;color:#222}
.fl{float:left}.fr{float:right}.clr{clear:both}
ul{list-style:none;padding:0;margin:0}

.wrapper{width:935px;margin:auto;overflow:hidden}
.head{}
.slider-wrapper{height:323px;background-color:#520b48;}
.logoCont{float:left;padding:20px 0 20px 25px}
.logoCont .logo{background:url(../images/vellurbank.png) center center no-repeat;height:75px;width:266px;display:block;}
.nameCont{float:right;margin:50px 35px 0 0;text-align:right;font-size:1.2em;}
.mainMenu{background-color:#520b48}
.mainMenu ul{margin:5px 0 0 40px}
.mainMenu li{list-style:none;float:left;}
.mainMenu li a{background:url(../images/sepbar.png) right bottom no-repeat;color:#fff;font-size:1.1em;padding:6px 20px 8px;display:block}
.mainMenu li a:hover{}
.mainMenu li:last-child a{background-image:none}

.col1,.col2,.col2_1,.col2_2{float:left;}
.col1{width:400px;margin-right:70px}
.col2{width:460px}
.col2_1{width:225px;margin-right:35px}
.col2_2{width:175px}
.sep,hr{border-bottom:solid 1px #eaeaea;margin:5px 0;}
hr{border-width:0 0 1px;margin:20px 0}
.run{float:right;margin:45px 15px -5px 0;}
.cup{padding-left:160px;background:url(../images/cup.jpg) 30px bottom no-repeat;font-size:1.15em;clear:both}
.cup .dt{font-family:futurabk;}
.triangle li{background:url(../images/triangle.png) left 5px no-repeat;padding-left:20px;margin:20px 0}
.branch{font-family:futural;margin:10px 0;}
.branch h3{font-family:futuramd;}
.col2 h2{margin-top:35px}
.velco{background-color:#eaeaea;padding:1px;margin-top:16px}
.velco h3{font-size:1.3em}
.velco .logo{background:#fff url(../images/velco.png) center center no-repeat;height:80px;}
.velco .desc{padding:10px 15px}
.emp{margin:15px 0;color:#c81d4e;font-family:futural;font-size:1.2em}
.emp span{color:#222;font-size:.9em}

.bottom{background-color:#eaeaea;clear:both;padding:5px 0 5px 50px;font-size:1.15em}
.bottom span{color:#c81d4e;padding:5px;font-family:monospace}
.footer{background:url(../images/footbg.png) center center;}
.copy{color:#fff;font-size:.8em;background:#c81d4e url(../images/footerend.png) right bottom no-repeat;float:left;font-family:futurabk;padding:8px 40px 8px 50px}
.cobrand{width:520px;color:#B1B1B1;font-size:.75em;float:left;font-family:futurabk;padding:8px 40px 8px 50px;text-align:right;}
.cobrand a{color:#B1B1B1}
.cobrand a:hover{color:#FFFFFF}
/*
.head,#slider,#slider img,.rCont,.availForm{overflow:hidden;border-radius:0 0 40px 0}

#slider img{width:100%}
.mainMenu,.logoCont,.rCont,.availForm{position:absolute;z-index:100}




.rCont{background-color:#700c44;width:318px;right:0}
.availForm{background-color:#891254;color:#ccc;bottom:0;padding:10px 30px 5px;text-align:center}
.availForm input{color:#891254;margin:3px 5px;width:105px}
.availForm .availChkBtn{width:140px;margin:5px auto;background-color:#60093a;color:#eee;padding:2px 0;border-width:1px;border-style:solid;border-color:#999 #999 #111 #111;border-radius:7px;cursor:pointer}
.availForm label{display:block;text-align:left;font-size:1.1em;margin:3px 10px}

.main{padding:40px;overflow:hidden}
.intro,.message{color:#700c44}
.intro{width:220px;font-weight:bold;font-size:1.1em;margin-bottom:30px}
.packages{width:700px;overflow:hidden;margin-bottom:30px}
.packages li{height:100px;width:214px;margin-left:14px;border-radius:0 30px 0 0;float:left;overflow:hidden}
.packages h2{padding:10px 0 3px 10px;background-color:rgba(255,255,255,0.8)}
.package1{background:url(../images/packages/package1.jpg) center center no-repeat;}
.package2{background:url(../images/packages/package2.jpg) center center no-repeat;}
.package3{background:url(../images/packages/package3.jpg) center center no-repeat;}

.message{background-color:#edd8cd;font-family:"Century Gothic";font-size:1.8em;padding:14px 20px;width:380px;margin:15px 0 0 -41px;float:left}
.by{font-style:italic;font-size:0.6em;display:block}
.half{width:50%}

.footer{background-color:#700c44;padding:5px;}

.inner{background-color:#bda79a}
.inner .wrapper{background-color:#cdbfb6;height:100%;}
.inner .head{border-radius:0;}
.inner .logoCont{padding:16px 0 30px;border-radius:0 0 0 20px;width:124px;box-shadow:none}
.inner .slider-wrapper{margin:79px 0 0 124px;height:180px;width:575px;}
.inner #slider{border-radius:0 0 0 30px}
.inner .rCont,.inner .availForm{background-color:transparent;border-radius:0;}
.inner .rCont{background-color:#530034;border-radius:0 0 0 20px;}
.inner .mainMenu{background-color:#700C44;width:876px}
.inner .mainMenu ul{float:left}
.inner .mainMenu li{box-shadow:none}
.inner .mainMenu li a,.inner .mainMenu li:last-child a{background:url("../images/rshad.png") repeat-y scroll left top;padding:33px 20px}
.inner .availForm{padding:20px 20px 30px 10px;text-align:right}
.inner .availForm label{float:left;width:20px}
.inner .availForm input{width:100px;margin:5px}
.inner .availForm .availChkBtn{width:140px}
.inner .midCont{margin-left:110px;width:460px}
.inner .footer{position:absolute;bottom:0;width:1000px;padding:5px 0}
.nivo-directionNav,.nivo-controlNav,.nivo-prevNav,.nivo-nextNav{display:none}*/